<h1>Wardrobe</h1>

<h2>Footwear</h2>
<ul>
<% footwear.forEach(function(footwear){ %>
    <li><%= footwear.name %></li>
<% }) %>
</ul>

<h2>Accessories</h2>
<ul>
<% acessories.forEach(function(acessories){ %>
    <li><%= acessories.name %></li>
<% }) %>
</ul>

<h2>Hats</h2>
<ul>
<% hats.forEach(function(hats){ %>
    <li><%= hats.name %></li>
<% }) %>
</ul>
